.hplogo{
    top: 20%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.search_bar{
    top: 35%;
    position: absolute;
    width: 100%;
text-align: center;
}

.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.rightnav{
    float: right;
}
li{
    display: inline;
}

